@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; font-size:14px; font-weight:normal; border:none; font-family:Arial, Helvetica, sans-serif; outline:none; text-decoration:none;}
body{ background:#000;}
.header{ background:#fff;}
.clear{ clear:both;}
.container{ margin:0 auto; width:1140px;}
.logo{ float:left; width:275px; padding:14px ;} 
#nav{ float:right; width:366px; text-align:right;}
#nav ul{ list-style:none;}
#nav ul li{ float:left; line-height:25px;}
#nav ul li a{ color:#fff; font-size:16px; display:block; width:100px;}
#nav ul li:first-child{ background:#00b4cc; text-align:center; padding:10px; margin:0 3px 0 0;}
#nav ul li:nth-child(2){ background:#abd838; text-align:center; padding:10px; margin:0 3px 0 0;}
#nav ul li:last-child{ background:#f76112; text-align:center; padding:10px; margin:0 0px 0 0;}
#nav ul li span{ padding:5px 0; display:block; margin:0;}
.search{ background:#f1f1f1; padding:5px 10px;}
.search input[type="text"]{ height:42px; background:#eeeeee; border-bottom:1px solid #c1c1c1;border-top:1px solid #c1c1c1;border-right:1px solid #c1c1c1; width:680px; border-radius:0 4px 4px 0; padding:0 0px 0 20px; color:#7e7e7e; font-size:20px;}
.search input[type="submit"]{ background:#f76112; border-radius:6px; text-align:center; color:#fff; text-transform:uppercase; font-size:20px; height:44px; padding:0 40px; margin:0 0 0 15px;}





#pre{ padding:0 0 10px 0;}
.empty{ height:5px;}
#empty{ width:5px; float:left; display:block;}
.col{ width:375px; float:left; position:relative; padding:5px 5px 0 0; height:336px; overflow:hidden;}
.col1{ width:375px; float:left; padding:5px 5px 0 0; height:336px; overflow:hidden;}
.ser{ position:relative; float:left; width:375px; height:355px; overflow:hidden;}
#serr{ position:relative; float:left !important; margin:0 5px 6px 0px; width:182px; height:164px; overflow:hidden; }

#serr {
  position: relative;
  top: 0;
  left: 0;
}

#serr img {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
#serr img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#serr a{ position:absolute; background:#fff; padding:5px 10px; bottom:0; font-size:16px; color:#f76112; left:0; font-weight:bold;}
.ser a{ position:absolute; background:#fff; padding:5px 10px; bottom:20px; font-size:16px; color:#f76112; left:0;font-weight:bold;}

.ser img {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.ser img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#ser img {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
#ser img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#ser{position:relative; height:164px; width:375px; overflow:hidden;}
#ser a{ position:absolute; background:#fff; padding:5px 10px; bottom:0; font-size:16px; color:#f76112; left:0;font-weight:bold;}
.app{ text-align:center; padding:30px 0;}
.social{ text-align:center; padding:0px 0 30px 0;}
#white{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d0d0d0+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #d0d0d0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#d0d0d0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#d0d0d0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0d0d0',GradientType=0 ); /* IE6-9 */
 margin:10px 0 0 0; text-align:center !important;} 
.ft-nav{ text-align:center !important; padding:0 0 40px 50px;}
.ft-nav li{ float:left; line-height:25px; float:left; list-style:none;}
.ft-nav a{ padding:0 10px; text-transform:uppercase; color:#000; font-family:sans-serif; }
#ft-nav{ text-align:center; padding:0 50px 10px 50px; float:left;}
#ft-nav a{ padding:0 4px;color:#000; font-size:13px; font-family:sans-serif; }
#ft-nav li{ float:left; line-height:25px; float:left; list-style:none;}
#city{ border-top:#939393 solid 1px; padding:10px 50px; text-align:center;}
#city a{ padding:5px 10px; text-transform:uppercase; color:#000; display:inline; margin:5px 0; font-family:sans-serif; }
#city li{ float:left; line-height:25px; float:left; list-style:none;}
#copy{ background:#f76112;}
.copy{ float:left; width:600px; line-height:70px; color:#fff; padding:0 20px;}
.copy a{ padding:0 5px; color:#fff;}
.ft-logo{ float:right; width:250px; padding:10px 0 0 0;}
.loc{ float:left; width:213px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0d0d0+0,989898+100 */
background: #d0d0d0; /* Old browsers */
background: -moz-linear-gradient(top,  #d0d0d0 0%, #989898 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #d0d0d0 0%,#989898 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #d0d0d0 0%,#989898 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d0d0', endColorstr='#989898',GradientType=0 ); /* IE6-9 */ line-height:44px; border-radius:6px 0 0 6px; font-size:18px; color:#fff;}
.loc img{ vertical-align:middle; padding:0 0 0 20px;}

/*----------------------- categorypage css starts from here----------------------*/
.cat-page{ background:#181818; padding:10px;}
.cat-page h1 {  color:#f76112; padding:10px; font-size:40px; text-align:center;}
.option {background:#FFF; padding:10px 0 0 0;}
.option-nav { width:265px; min-height:1307px; border:1px #c3c3c3; background:#f4f4f4; border:1px solid #c3c3c3; margin:10px; float:left;}
.option-1 {width:265px; height:48px; background: url(images/option_bg.png) repeat-x;}
.option-1 h1 { font-size:18px; color:#2e2e2e; text-align: justify; padding:15px 0 0 15px;}
.option-1 img {float:right; padding:24px 15px 15px 0;}
.option-2 h1 { font-size:18px; color:#2e2e2e; text-align: justify; padding:15px 0 0 15px;}
.sort-select {}
.sort-select ul{ list-style:none;}
.sort-select li{ background:url(images/arrow.png) no-repeat 4% center; line-height:30px; padding:0 0 0 20px;}
.sort-select li a{ color:#2e2e2e;}
.sort-select img { float:left; padding:25px 0 0 18px;}
.sort-select p {font-size:15px; text-align:center; color:#2e2e2e; padding:20px 0 0 18px;}
.pizza { width:815px;float:left;}
.cat{ border-bottom:1px solid #d7d7d7; padding:5px;}
.cat-img{ float:left; width:267px; height:279px; border:1px solid #d7d7d7; margin:0 16px 0 0;}
.cat h3{ color:#f76112; font-size:24px; font-weight:bold; padding:0 0 10px 0;}
.cat img { vertical-align:middle;}
.cat h2{ padding:5px;} 
.cat h4{ padding:5px; font-weight:bold; color:#2e2e2e;}
.email{padding:13px 7px 0 0;}
.email span{ padding:0 10px 0 15px;}
.cat h5{ color:#2e2e2e; font-weight:bold; font-size:20px; padding:20px 0 10px 0}
.cat strong{ color:#f76112; font-size:22px;}
.cat-con{ float:left;  padding:0 0 15px 50px; border-bottom:3px solid #d7d7d7; }
.cat-con p{ float:left; width:220px;}
.cat-con input[type="button"]{ background:#f76112; border-radius:8px; text-transform:uppercase; color:#fff; padding:10px 20px; font-size:18px;}
.orange{ background:#f76112; text-align:center; }
.orange a{ display:block; font-size:18px; color:#fff; line-height:50px; text-transform:uppercase;}



#contacts{ width:100%;  background-color:#fff; margin:0 auto;}
.contact h1{ font-size:18px; color:#929292; padding:15px 0 0 9px;}
.contact h5{ font-size:18px; color:#929292; padding:15px 0 0 0px;}
.contact h2{ float:left; font-size:18px; color:#929292; padding:15px 0 0 9px;}
.contact img{ padding: 28px 7px 0 8px;}
.social-log img{ padding:10px 0 !important;}
.contact input[type="Submit"]{ margin:37px 0 0 44px; background-color:#f65701; width:168px; height:41px; border-radius:2px; font-size: 20px; color:#fff;}
.contact-sub{ margin:15px 0 0 0px !important; background-color:#f65701; width:168px; height:41px; border-radius:4px; font-size: 20px; color:#fff; }

.contact{width:395px; margin:0 auto; padding:20px 0;}
.contact input[type="text"]{ width:97%; padding:0px 0 0 10px; height:35px; border:1px solid #ccc; margin-top:10px;  border-radius:5px;}
.contact-half{ width:46.2% !important; padding:0px 0 0 10px; height:35px; margin:10px 0 0 0; border:1px solid #ccc;  border-radius:5px;}
.contact h4{ text-align:center; padding:15px 0;}